{% extends 'base.html' %}

{% block content %}

<h4>Iveskite naujos masinos duomenis</h4>
<form action="" method="post">
  <p>Make:</p>
  <p><input type="text" name="makelaukas" id=""></p>
  <p>Model:</p>
  <p><input type="text" name="modellaukas" id=""></p>
  <p>Color:</p>
  <p><input type="text" name="colorlaukas" id=""></p>
  <p>Year:</p>
  <p><input type="text" name="yearlaukas" id=""></p>
  <p>Price:</p>
  <p><input type="text" name="pricelaukas" id=""></p>
  <p><input type="submit" value="Prideti"></p>
</form>

<p><a href="/">Grizti i pradzia</a></p>

{% endblock %}